button {
    padding: 0 0.8rem;
    border: none;
    border-radius: 0;
    font-family: var(--monospace-font);
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

button.success {
    background-color: var(--success-color);
}

button.info {
    background-color: var(--info-color);
}

button.danger {
    background-color: var(--danger-color);
}

button.success.loading {
    /**
     * NOTE: In the future, use a combination of custom properties
     * and the color() function to derive colors from already-defined
     * colors.
     **/
    background-color: rgba(76, 175, 80, 0.3);
}

button[disabled] {
    opacity: 0.5;
}
