section:not(:first-of-type) {
    margin-top: 1.6rem;
}

section:not(:last-of-type) {
    margin-bottom: 1.6rem;
}

section.padded {
    padding: 0 4.2rem;
}

section.flex {
    display: flex;
    align-items: flex-start;
}

section.flex .messages {
    margin-right: 4.2rem;
}

.messages p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
    opacity: 0.5;
}

p.success {
    color: var(--success-color);
    opacity: 1;
}

p.info {
    color: var(--info-color);
    opacity: 1;
}

p.warning {
    color: var(--warning-color);
}

p.danger {
    color: var(--danger-color);
    opacity: 1;
}
