*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #222;
}
