*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    --info-color: #1e88e5;
    --success-color: #4caf50;
    --warning-color: #ffc107;
    --danger-color: #f44336;
    --sans-serif-font: "Source Sans Pro", sans-serif;
    --monospace-font: "Source Code Pro", sans-serif;

    font-size: 62.5%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: var(--sans-serif-font);
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #222;
}
